@font-face {
    font-family: "TT.Commons";
    src: url("TT.Commons/TTCommons-Regular.ttf");
}

@font-face {
    font-family: "TT.Bold";
    src: url("TT.Commons/TTCommons-Bold.ttf");
}

body {
  font-family: 'TT.Commons';
  color: #505359;
}

h2 {
  font-family: 'TT.Bold';
  font-size: 50px;
}

.item {
  color: #505359;
}

#Freinds {
  color: #505359;
}
